.App {
  text-align: center;
  background: #e84e93;
}

.continent-cards-wrap {
  display: flex;
  flex-wrap: wrap;  
  gap: 1rem;
  padding: 2rem;
}

.continent-cards-wrap a {
  text-decoration: none;
  color: white;
}

.continent-card:nth-child(even) {
  background: linear-gradient(rgba(0, 0, 0, 0.946), rgba(0, 0, 0, 0.763));
}

.continent-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 30%;
  max-width: 20rem;
  height: 20rem;
  border: 1px solid lightgrey;
  backdrop-filter: blur(65px);
  border-radius: 10px;
  color: white;
}

.continent-card a {
  width: 60%;
  margin: 0 auto;
  text-decoration: none;
  color: white;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 10px;
  background-color: black;
}

.continent-card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
  backdrop-filter: blur(25px);
}

.details-wrap > * {
  display: flex;
  gap: 10rem;
  color: white;
  padding-inline-end: 10rem;
}

.details-wrap > *:nth-child(even) {
  background: linear-gradient(rgba(0, 0, 0, 0.946), rgba(0, 0, 0, 0.763));
}

.details-wrap * {
  text-align: left;
}

.back-arrow {
  width: 50px;
  cursor: pointer;
}